@model IEnumerable<TiendaMusica.Logica.ViewModels.AlbumsPorArtistaViewModel>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album)
        </td>
        <td>

            

            @{
                string strcampoAlbum = item.Album;
                strcampoAlbum = strcampoAlbum + ".mp3";
                string strRutaAudio = Path.Combine( Server.MapPath(@"~\Audio\"),strcampoAlbum) ;

                if (File.Exists(strRutaAudio)) {
                <audio controls src="..\..\Audio\@strcampoAlbum">
                    <p>Tu navegador no implementa el elemento audio.</p>
                </audio>
                }

                }

               
            

        </td>
    </tr>
                }

</table>


